In [29]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np
import matplotlib.pyplot as plt #для визуализации
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import AgglomerativeClustering
import warnings
warnings.filterwarnings('ignore')

In [8]:
X_train = np.loadtxt("data/train.txt")
y_train = np.loadtxt("data/train_labels.txt")
X_test = np.loadtxt("data/test.txt")
y_test = np.loadtxt("data/test_labels.txt")
X = np.concatenate((X_train, X_test))
y = np.concatenate((y_train, y_test))
X.shape

(10299, 561)

In [9]:
len(np.unique(y))

6

In [11]:
#определяем скейлер
scaler = StandardScaler()
#масштабируем данные
X_scaled = scaler.fit_transform(X)
#выводим нужное значение
X_scaled[0][0]

0.2105338541767611

In [14]:
#проходимся циклом по всем нужным нам значениям количества кластеров
for i in range(2,10):
	# обучаем модель k-means с текущим количеством кластеров
    km = KMeans(n_clusters = i , random_state = 42 ).fit(X_scaled)
	#предсказываем метки
    y_pred = km.labels_
	#выводим результат для коэффициента силуэта
    print (i, metrics.silhouette_score(X_scaled,  y_pred))
for i in range(2,10):
    km = KMeans(n_clusters = i , random_state = 42 ).fit(X_scaled)
    y_pred= km.labels_
    print (i, metrics.calinski_harabasz_score(X_scaled,y_pred))
for i in range(2,10):
    km = KMeans(n_clusters = i , random_state = 42 ).fit(X_scaled)
    y_pred = km.labels_
    print (i, metrics.davies_bouldin_score(X_scaled, y_pred))

2 0.3937324764077081
3 0.31548375272734164
4 0.15052911849826184
5 0.12723671885995455
6 0.11096892121098482
7 0.08541910378666204
8 0.07618332955957029
9 0.07648837092046107
2 7880.813903657111
3 5034.4752572242
4 3696.3381978005555
5 3027.0761722557045
6 2556.7735736855657
7 2216.563937360621
8 1974.9714963243528
9 1790.9531728187399
2 1.0707441822385657
3 1.786516465365282
4 2.3409301040454653
5 2.431375173184107
6 2.367036374724895
7 2.6819795075319037
8 2.611225993977313
9 2.581888277475603

In [15]:
#определяем модель k-means
model= KMeans(n_clusters=6, init='random', random_state=42)
#обучаем модель
model.fit(X_scaled)
#вычисляем значение однородности
print(metrics.homogeneity_score(y, model.labels_))
#вычисляем значение полноты
print(metrics.completeness_score(y, model.labels_))
#вычисляем значение скорректированного индекса Рэнда
print(metrics.adjusted_rand_score(y, model.labels_))

0.5404114294595578
0.5809491951515007
0.4196031125923396

In [16]:
#создаём таблицу сопряжённости
ct = pd.crosstab(y, model.labels_)
#определяем название активностей
ct.index = ['ходьба', 'подъём', 
            'спуск', 'сидение', 'стояние', 'лежание']
ct.columns = list(range(1,7))

In [17]:
ct

            1     2     3    4    5    6
ходьба      0     0   903   78  741    0
подъём      0     0  1242    5  295    2
спуск       0     0   321  196  889    0
сидение    91  1238     1    0    0  447
стояние     0  1346     0    0    0  560
лежание  1556    54     5    0    0  329

In [24]:
#определяем модель k-means
km= KMeans(n_clusters=2, init='k-means++', random_state=42)
#обучаем модель
km.fit(X_scaled)
#вычисляем значение однородности
print(metrics.homogeneity_score(y, km.labels_))
#вычисляем значение полноты
print(metrics.completeness_score(y, km.labels_))
#вычисляем значение скорректированного индекса Рэнда
print(metrics.adjusted_rand_score(y, km.labels_))

0.3779708224689608
0.979530559699631
0.3296106738894193

In [25]:
ctable = pd.crosstab(y, km.labels_)
ctable.index = ['ходьба', 'подъём', 
                'спуск', 'сидение', 'стояние', 'лежание']
ctable.columns = list(range(1,3))
ctable

            1     2
ходьба   1722     0
подъём   1536     8
спуск    1406     0
сидение     3  1774
стояние     0  1906
лежание    12  1932

In [28]:
metrics.completeness_score(y, km.labels_)

0.979530559699631

In [30]:
ag = AgglomerativeClustering(n_clusters=2).fit(X_scaled)
print("Completeness: %0.3f" % metrics.completeness_score(y, ag.labels_))

Completeness: 1.000