### NDCG (НОРМАЛИЗОВАННЫЙ ДИСКОНТИРОВАННЫЙ КУМУЛЯТИВНЫЙ ВЫИГРЫШ)

In [3]:
from sklearn.metrics import ndcg_score, dcg_score
import numpy as np
import pandas as pd

In [4]:
true = np.asarray([[2, 4, 1, 1, 1]])
relevance = np.asarray([[2, 5, 2, 3, 1]])

print(ndcg_score(true, relevance))

0.9748317848747132

In [5]:
movies = pd.read_csv('data/movie.csv')
ratings = pd.read_csv('data/dst-3.0_mathml_14_5_rating.csv')

In [6]:
df=pd.merge(ratings,movies, how='left',on='movieId')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
 4   title      object
 5   genres     object
dtypes: float64(1), int64(2), object(3)
memory usage: 915.5+ MB

In [7]:
df.title.value_counts().nlargest(5)

title
Pulp Fiction (1994)                 67310
Forrest Gump (1994)                 66172
Shawshank Redemption, The (1994)    63366
Silence of the Lambs, The (1991)    63299
Jurassic Park (1993)                59715
Name: count, dtype: int64

In [14]:
rank_sort = df.groupby('title')['rating'].mean().sort_values(ascending=False)
rank_sort[rank_sort.values == 5].sort_index()

#
average_rating_df = df[["title", "rating"]].groupby('title').mean()
sorted_average_ratings = average_rating_df.sort_values(by=["rating",'title'], ascending=False)
print(sorted_average_ratings.head(10))

title
1971 (2014)                                       5.0
A Blank on the Map (1971)                         5.0
A Gun for Jennifer (1997)                         5.0
A Night for Dying Tigers (2010)                   5.0
Abendland (2011)                                  5.0
                                                 ...
Welcome to Australia (1999)                       5.0
When I Walk (2013)                                5.0
Who Killed Vincent Chin? (1987)                   5.0
Year Zero: The Silent Death of Cambodia (1979)    5.0
Yonkers Joe (2008)                                5.0
Name: rating, Length: 113, dtype: float64

In [16]:
movie_popularity = df["title"].value_counts()
popular_movies = movie_popularity[movie_popularity > 50].index

print(popular_movies.shape[0])

10472

In [17]:
movie_popularity = df["title"].value_counts()
popular_movies = movie_popularity[movie_popularity > 50].index
df2 = df[df.title.isin(popular_movies)]
average_rating_df2 = df2[["title", "rating"]].groupby('title').mean()

sorted_average_ratings = average_rating_df2.sort_values(by=["rating",'title'], ascending=False)

print(sorted_average_ratings.head(10))

                                                 rating
title
Shawshank Redemption, The (1994)               4.446990
Godfather, The (1972)                          4.364732
Usual Suspects, The (1995)                     4.334372
Schindler's List (1993)                        4.310175
Godfather: Part II, The (1974)                 4.275641
Seven Samurai (Shichinin no samurai) (1954)    4.274180
Rear Window (1954)                             4.271334
Band of Brothers (2001)                        4.263182
Casablanca (1942)                              4.258327
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)  4.256935